@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgba(5, 1, 1, 0.604);
    color: white;
}

h1 {
    padding-bottom: 20px;
}

.canvas{
    text-align: center;
}

.bulb-off{
    width: 265px;
    height: 400px;
    background: url(/lightoff.png) no-repeat;
    margin: auto;
    cursor: pointer;
}

.bulb-on{
    width: 265px;
    height: 400px;
    background: url(/lighton.png) no-repeat;;
    margin: auto;
    cursor: pointer;
}


@media screen and (max-width:600px) {
    h1 {
        font-size: 3vh;
    }
}